@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap');

* {
    box-sizing: border-box;
    font-family:"IBM Plex Sans", "Helveitca", sans-serif;
}

body {
    margin: 0;
}

:root {
    --light-clr: rgb(210, 210, 210);
    --light-clr-hover: #ffffff75;
    --blue: #7A949C;
}