@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap');

* {
    box-sizing: border-box;
    font-family:"IBM Plex Sans", "Helveitca", sans-serif;
}

body {
    margin: 0;
}

:root {
    --light-clr: #eeeeee;
    --light-clr-hover: #ffffff;
    --light-green: #B2BCA2;
    --dark-green: #2E372E;
    --drop-shadow: 3px 3px 7px 5px #2e372e49;
    --drop-shadow-hover: 10px 10px 7px 5px #2e372e49
}